@* @model IEnumerable<Loja.Models.Jogo> *@
@model ReflectionIT.Mvc.Paging.PagingList<Loja.Models.Jogo>


@{
    ViewData["Title"] = "Index";
}

<h1>Jogos</h1>

<p>
    <a asp-action="Create">Criar Jogo</a>
</p>

<form method="get" class="form-inline d-flex">
    <input name="filter" class="form-control me-1" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-secondary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
    </button>
</form>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                   @*   <th>
                         @Html.DisplayNameFor(model => model.DescricaoDetalhada)
                     </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                   @*  <th>
                        @Html.DisplayNameFor(model => model.ImagemUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThumbnailUrl)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.JogoPreferido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmEstoque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                      @*   <td>
                            @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                       @*  <td class="text-break">
                            @Html.DisplayFor(modelItem => item.ImagemUrl)
                        </td>
                        <td class="text-break">
                            @Html.DisplayFor(modelItem => item.ThumbnailUrl)
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.JogoPreferido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmEstoque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                        </td>
                        <td class="d-flex">
                                <a asp-action="Edit" class="btn btn-primary me-1" asp-route-id="@item.Id">Editar</a>
                                <a asp-action="Details" class="btn btn-secondary me-1" asp-route-id="@item.Id">Detalhes</a>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-between">
    <span class="fw-bolder">
        Total de jogos: @Model.TotalRecordCount
    </span>
    <div>
        <vc:pager paging-list="@Model"></vc:pager>
    </div>
</div>